.section {
  height: 100vh;
  padding: 2.1429rem 6.8571rem;
  box-sizing: border-box;
  min-height: 580px;

  &Main {
    justify-content: center;
    background: url(/bg/screen_1_bg.jpg) center no-repeat no-repeat;
  }

  &Earth {
    background: url(/bg/earth_2_bg.jpg) center no-repeat no-repeat;
  }

  &Main,
  &Earth {
    background-size: cover;
    display: flex;
    align-items: center;
    padding-top: 7.1429rem;
    padding-bottom: 7.1429rem;
  }

  &RoadMap {

    position: relative;
    background: rgb(30,32,44);
    background: linear-gradient(90deg, rgba(30,32,44,1) 0%, rgba(24,21,27,1) 100%, rgba(0,212,255,1) 100%);

    &::before {
      content: '';
      height: 150px;
      width: 100%;
      display: block;
      position: absolute;
      top: -10.7143rem;
      left: 0;
      z-index: 0;
      background: rgb(30,32,44);
      background: linear-gradient(0deg, rgba(30,32,44,1) 0%, rgba(30,32,44,0) 100%);
    }
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 2.2857rem;
  position: absolute;
  top: 2.4rem;
  left: 2.8571rem;
  right: 2.8571rem;
  z-index: 90%;
}

.buttonList {
  display: flex;
  justify-content: center;
  gap: 1.4286rem;
}